@import url('https://fonts.googleapis.com/css?family=Abel|Archivo+Black|Bebas+Neue|Rajdhani&display=swap');

*{
    border: 1px solid black;
    box-sizing: border-box !important;
}

html{
    font-size: 16px;
}

body{
}

h1{
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

h3{
    font-family: "Abel", sans-serif;
}

.padding {
    padding: 0 8rem;
}


nav{
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    font-family: "Rajdhani", sans-serif;
    height: 4rem;
    color: white;
    background-color: black;
    padding-top: 2rem;
    align-items: center;
}

nav>a, nav>a:link, nav>a:visited{
    font-size: 1.2rem;
    color:  white;
    text-decoration: none;
}

nav> a:hover{
    text-decoration: underline;
}

nav> a.mainMenu:hover{
    text-decoration: none;
}

nav .mainMenu{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template:  35% 55% / 55% 40%;
    grid-template-areas: "title image"
                         "subtitle image";
    height: 40rem;
    background-image: url("img/hero_edited.jpg");
    background-position: center;
    background-size: contain;
    color: white;
    padding-top: 7rem;
    text-shadow: 2px 2px #262626;
    column-gap: 4rem;
}



.title{
    grid-area: title;
}

.subtitle{
grid-area: subtitle;
}

.image{
grid-area: image;
box-shadow: 0px 10px 47px 10px rgba(0,0,0,0.75);
width: 350px;

}


#profile{
    max-height: 30rem;
}

