@import url('https://fonts.googleapis.com/css?family=Abel|Archivo+Black|Bebas+Neue|Rajdhani&display=swap');

*{
    border: 1px solid black;
    box-sizing: border-box !important;
}

html{
    font-size: 18px;
    color: white;
}

body{
}

h1{
    font-size: 4rem;
    font-family: "Archivo Black", sans-serif;
}

h2{
    font-family: "Abel", sans-serif;
    font-size: 2.5rem;
}

.center{
    text-align: center;
}

h3{
    font-family: "Abel", sans-serif;
}

.padding {
    padding: 0 8rem;
}


nav{
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    font-family: "Rajdhani", sans-serif;
    height: 4rem;
    color: white;
    background-color: black;
    padding-top: 2rem;
    align-items: center;
}

nav>a, nav>a:link, nav>a:visited{
    font-size: 1.2rem;
    color:  white;
    text-decoration: none;
}



.grid{
    display: grid;
}

.flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.grid{
    
    grid-template:  1fr / 40% 60%;
    grid-template-areas: "title image"
                         "subtitle image";
    color: white;
    column-gap: 4rem;
}

.portfolioItem{
    padding: 1% 1%;
    border: 2px solid white;
    margin: 1.3rem 3rem;
    height: 20rem;
    flex-basis: 20%;
}

.portfolioItem>img{
    max-height: 4rem;
    display: block;
    margin: 0 auto;
}

.portfolioItem>h3{
    font-family: "Abel", sans-serif;
    font-weight: bold;
    text-align: center;
}

.portfolioItem>p{
    font-family: "Abel", sans-serif;
}



.title{
    grid-area: title;
}

.subtitle{
grid-area: subtitle;
}

.image{
grid-area: image;

}

#home {
    display: grid;
    grid-template:  35% 55% / 55% 40%;
    grid-template-areas: "title image"
                         "subtitle image";
    height: 40rem;
    background-image: url("img/hero.jpg");
    background-position: center;
    background-size: contain;
    color: white;
    padding-top: 7rem;
    text-shadow: 2px 2px #262626;
    column-gap: 4rem;
}

#work{
    background-color: black;
}

#about{
    background-color: #AEB8B3;
    color: #262626;
    display: grid;
    padding-top: 5rem;
}




#profile{
    max-height: 30rem;
}

