@import url('https://fonts.googleapis.com/css?family=Abel|Archivo+Black|Bebas+Neue|Rajdhani&display=swap');

*{
    /*border: 1px solid black;*/
    box-sizing: border-box !important;
}

html{
    font-size: 18px;
    color: white;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

h1{
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

h2{
    font-family: "Abel", sans-serif;
    font-size: 2.5rem;
}

.center{
    text-align: center;
}

h3{
    font-family: "Abel", sans-serif;
}

.padding {
    padding: 0 8rem;
}


nav{
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    font-family: "Rajdhani", sans-serif;
    height: 4rem;
    color: white;
    background-color: black;
    padding-top: 2rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 4px solid white;
}

nav>a, nav>a:link, nav>a:visited, #social>a, #social>a:link, #social>a:visited{
    font-size: 1.2rem;
    color:  white;
    text-decoration: none;
}

#social>a:link, #social>a:visited{
    font-size: 1.2rem;
    color:  white;
    text-decoration: none;
    font-family: "Abel", sans-serif;
}

nav> a:hover{
    text-decoration: underline;
}

nav> a.mainMenu:hover{
    text-decoration: none;
}

nav .mainMenu{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 1rem;
}

.grid{
    display: grid;
}

.flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.grid{
    
    grid-template:  1fr / 40% 60%;
    grid-template-areas: "title image"
                         "subtitle image";
    color: white;
    column-gap: 1rem;
}

.portfolioItem{
    padding: 1% 2%;
    border: 4px solid white;
    margin: 1.3rem 3rem;
    height: 25rem;
    flex-basis: 20%;
}

.portfolioItem>img{
    height: 8rem;
    width: 10rem;
    display: block;
    margin: 0 auto;
    border-radius: 90rem;
}

.portfolioItem>h3{
    font-family: "Abel", sans-serif;
    font-weight: bold;
    text-align: center;
}

.portfolioItem>p{
    font-family: "Abel", sans-serif;
}



.title{
    grid-area: title;
}

.subtitle{
grid-area: subtitle;
}

.image{
grid-area: image;
height: 1000px;

}

.barr{
    height: 15px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(95,9,121,1) 0%, rgba(0,78,255,1) 100%);
}

.barrBorder{
    height: 23px;
    border-radius: 20px;
    border: 3px solid white;
}

.contactForm{
    width: 90%;
    height: 25rem;
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;

}

.contactForm input, .contactForm textarea{
    height: 3rem;
    margin: 5px auto 20px;
    border: 2px solid white;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 10px 25px;
    width: 90%;
    font-family: "Abel", sans-serif;
}

.contactForm textarea{
    height: 100px;
}

.contactForm button{
    height: 3rem;
    margin: 5px auto 20px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(95,9,121,1) 0%, rgba(0,78,255,1) 100%);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 25px;
    width: 60%;
    font-family: "Abel", sans-serif;
}

.contactForm button:hover{
    cursor: pointer;
}

#home {
    display: grid;
    grid-template:  35% 55% / 55% 40%;
    grid-template-areas: "title image"
                         "subtitle image";
    height: 100vh;
    background-image: url("img/hero_edited.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 12rem;
    text-shadow: 2px 2px #262626;
    column-gap: 4rem;
}

#work{
    background-color: black;
}

#about{
    background-color: black;
    color: white;
    display: grid;
    padding-top: 5rem;
    align-items: center;
    font-family: "Abel", sans-serif;
}

#skills{
    background-color: black;
}

#skills h2, #contact h2 {
    margin-top: 10rem;
}

#work h2 {
    margin-top: 5rem;
}


#about img{
    margin: 0 auto;
    display: inline-block;
}

#about p{
    font-size: 1.3rem;
}

#social img{
    padding: 1% 2%;
    margin: 1.3rem 3rem;
    height: 2rem;
    flex-basis: 20%;
}

#barr1{
    width: 90%;
}
#barr2{
    width: 80%;
}
#barr3{
    width: 60%;
}
#barr4{
    width: 40%;
}
#barr5{
    width: 75%;
}

#contact{
    background-color: black;
    margin: 3rem 20%
}




#profile{
    max-height: 30rem;
}

